<%- include("partials/header"); -%>


<div class="final-score">

 <h2>Final Score: <%= score %>/<%= round_questions.length%></h2>

<% if(curr_user.username != ""){ %>
  <p>
    Your total score percentage is <%= curr_user.total_score %>%.
    </p>
<% } %>

</div>

<div class="take-again">
  <form action="/" method="post">
    <button class="button-link" type="submit" name="button">Take Another Quiz</button>
  </form>
</div>

<%- include("partials/scoreboard"); -%>



</body>

</html>
