<%- include("partials/header"); -%>

  <div class="question-number">
    <h2>Question <%= questionNumber %></h2>
  </div>

  <div class="question">
    <span class="question-text"><%= round_questions[questionNumber - 1].question %></span>
  </div>


  <!-- for each quiz question, show all answer choices and if the user got the correct answer,
  then the background of answer choice is green, otherwise it is red and the
  correct answer choice is shown -->
  <div class="answers">

    <% for(var i = 0; i < round_questions[questionNumber - 1].answerchoices.length; i++){ %>

    <div class="answer-choice">

    <% if(selected_answer == correct_answer){ %>
      <%  if(selected_answer == round_questions[questionNumber - 1].answerchoices[i]){ %>
          <span class="answer-choice" style="background-color: #0e8a00"><%= round_questions[questionNumber - 1].answerchoices[i] %></span>
    <%    } else { %>
        <span class="answer-choice"><%= round_questions[questionNumber - 1].answerchoices[i] %></span>
    <%  } %>
    <% } else { %>
    <%    if(selected_answer == round_questions[questionNumber - 1].answerchoices[i]){ %>
          <span class="answer-choice" style="background-color: #9c0000"><%= round_questions[questionNumber - 1].answerchoices[i] %></span>
    <%    } else if(correct_answer == round_questions[questionNumber - 1].answerchoices[i]){ %>
          <span class="answer-choice" style="background-color: #0e8a00"><%= round_questions[questionNumber - 1].answerchoices[i] %></span>

    <% } else { %>
        <span class="answer-choice"><%= round_questions[questionNumber - 1].answerchoices[i] %></span>
    <%  } %>
    <%  }%>


    </div>
    <br />

    <% } %>

  </div>


  <div class="next-question">
    <!-- if we have not reached the end of the quiz, then go to the next question,
    otherwise, submit the quiz  -->

  <%  if(questionNumber < round_questions.length){ %>

      <form action="/quizquestions/<%= questionNumber %>" method="post">
        <input type="hidden" name="score" value="<%= score %>">
        <button type="submit" name="button" class="submit-button">Next Question</button>

      </form>

  <%  } else { %>
    <form action="/quizscore" method="post">
      <input type="hidden" name="score" value="<%= score %>">
<button type="submit" name="button" class="submit-button">Submit</button>
      </form>



  <%  } %>

  </div>


</body>

</html>
