<%- include("partials/header"); -%>

<div class="reset-password">

  <div class="reset-password-title">
    <h2>Reset Password</h2>
  </div>

  <div class="error_msg"><%= error_msg %></div>
  <div class="reset-form">
  <form action="/resetpassword" method="post">

    <input class="middle" type="text" id="username" name="username" value="<%= username %>" />
    <button class="register-button" type="submit" id="first_submit" name="button">Get Security Question</button>
  </form>
  <form action="/reset-sec" method="post">
    <input type="hidden" name="username" value="<%= username %>">
  <div class="security-question-check" id="security-question">
    <div class="reset-form" id="resetformsecurity">
      <p id="security_question"> <%= security_question %></p>
      <input type="text" id="sec_answer" class="security_answer middle" name="security_answer" placeholder="Answer">
      <button class="register-button"id="resetformsecurity" type="submit" name="button">Reset Password</button>
    </div>
      </form>
    <p>
      Can't remember your answer? Opt for an email to reset your password instead.
    </p>
      <button class="register-button" id="send-email" type="submit" name="button">Email</button>
    </div>
    <a class="nav-link" href="/resetpassword">Re-enter Username</a>

  </div>

</div>
